<mat-grid-list class="selector" [appOasGridCols]="{xs: 1, sm: 1, md: 1, lg: 2, xl: 2}" rowHeight="25rem">
    <mat-grid-tile>
        <ng2-smart-table
            [settings]="disponibilidadesSettings"
            [source]="disponibilidadesData"
            (userRowSelect)="seleccionarDisponibilidad($event)"
        ></ng2-smart-table>
    </mat-grid-tile>
    <mat-grid-tile>
        <ng2-smart-table
            [settings]="rubrosSettings"
            [source]="rubrosData"
            (userRowSelect)="seleccionarRubros($event)"
        ></ng2-smart-table>
    </mat-grid-tile>
</mat-grid-list>