<mat-card class="card-oas">
    <mat-card-title class="resoluciones-title">
        <h1>Administración de resoluciones</h1>
    </mat-card-title>
    <mat-card-content>
        <mat-form-field class="field" style="width: 8%;">
            <input matInput type="text" name="numeroRes" placeholder="Número" [(ngModel)]="cadenaFiltro[0]">
        </mat-form-field>
        <mat-form-field class="field" style="width: 8%;">
            <input matInput type="text" name="vigencia" placeholder="Vigencia" [(ngModel)]="cadenaFiltro[1]">
        </mat-form-field>
        <mat-form-field class="field" style="width: 18%;">
            <input matInput type="text" name="sedeSol" placeholder="Facultad" [(ngModel)]="cadenaFiltro[2]">
        </mat-form-field>
        <mat-form-field class="field" style="width: 19%;">
            <input matInput type="text" name="sedeSol" placeholder="Tipo de resolución" [(ngModel)]="cadenaFiltro[3]">
        </mat-form-field>
        <mat-form-field class="field" style="width: 13%;">
            <input matInput type="text" name="sedeSol" placeholder="Nivel" [(ngModel)]="cadenaFiltro[4]">
        </mat-form-field>
        <mat-form-field class="field" style="width: 9%;">
            <input matInput type="text" name="sedeSol" placeholder="Dedicación" [(ngModel)]="cadenaFiltro[5]">
        </mat-form-field>
        <mat-form-field class="field" style="width: 10%;">
            <input matInput type="text" name="sedeSol" placeholder="Estado" [(ngModel)]="cadenaFiltro[6]">
        </mat-form-field>
        <button mat-button class="button button-add" type="button" (click)="filtroTabla()"
            style="width: 7%;">Filtrar</button>
        <button mat-button class="button button-add boton" type="button" (click)="limpiarFiltro()"
            style="width: 7%;">limpiar</button>
        <ng2-smart-table [settings]="adminResolucionesSettings" [source]="adminResolucionesData"></ng2-smart-table>
    </mat-card-content>
    <div *ngIf="this.tipoResVista === 'Vinculacion' ">
        <app-expedir-vinculacion [idResolucionV]="resolucionAprobadaId" [resolucion]="resolucionAprobada"
            (cancelarVinculacion)="tipoResVista=$event">
        </app-expedir-vinculacion>
    </div>
    <div *ngIf="this.tipoResVista === 'Cancelacion' ">
        <app-expedir-cancelacion [idResolucionC]="resolucionAprobadaId" [resolucion]="resolucionAprobada"
            (cancelarCancelacion)="tipoResVista=$event">
        </app-expedir-cancelacion>
    </div>
    <div *ngIf="this.tipoResVista === 'Reduccion' || this.tipoResVista === 'Adicion' ">
        <app-expedir-modificacion (cancelarModificacion)="tipoResVista=$event" [resolucion]="resolucionAprobada"
            (cancelarCancelacion)="tipoResVista=$event">
        </app-expedir-modificacion>
    </div>
</mat-card>