<mat-card class="card-oas">
    <mat-card-title class="resoluciones-title">
        <h1>Administración de resoluciones</h1>
    </mat-card-title>
    <mat-card-content>
        <ng2-smart-table [settings]="adminResolucionesSettings" [source]="adminResolucionesData"
            (custom)=eventHandler($event)></ng2-smart-table>
    </mat-card-content>
    <div *ngIf="this.tipoResVista === 'Vinculación' ">
        <app-expedir-vinculacion [idResolucionV]="resolucionAprobadaId" [resolucion]="resolucionAprobada"
            (cancelarVinculacion)="tipoResVista=$event">
        </app-expedir-vinculacion>
    </div>
    <div *ngIf="this.tipoResVista === 'Cancelación' ">
        <app-expedir-cancelacion [idResolucionC]="resolucionAprobadaId" (cancelarCancelacion)="tipoResVista=$event">
        </app-expedir-cancelacion>
    </div>
    <div *ngIf="this.tipoResVista === 'Reducción' || this.tipoResVista === 'Adición' ">
        <app-expedir-modificacion (cancelarModificacion)="tipoResVista=$event"></app-expedir-modificacion>
    </div>
</mat-card>