<form #fform="ngForm" novalidate>
    <mat-grid-list cols="1">
        <mat-grid-tile>
            <div class="section">
                <div class="adminVinc-title">
                    <h2>Información de Modificación</h2>
                </div>
                <h2 class="section-title">Información básica</h2>
                <mat-form-field class="form-field-column">
                    <mat-label>Vigencia</mat-label>
                    <input matInput type="number" name="vigencia" [(ngModel)]="vigencia" disabled>
                </mat-form-field>
                <mat-form-field class="form-field-column">
                    <mat-label>Forma de pago</mat-label>
                    <input matInput type="number" name="formaPago" [(ngModel)]="vigencia" disabled>
                </mat-form-field>
                <mat-form-field style="width: 100%">
                    <mat-label>Sede solicitante</mat-label>
                    <input matInput type="text" name="sedeSol" [(ngModel)]="vigencia" disabled>
                </mat-form-field>
            </div>
            <div class="section">
                <h2 class="section-title">Justificación y observaciones</h2>
                <mat-form-field style="width: 100%">
                    <mat-label>Sede Solicitante</mat-label>
                    <textarea matInput cols="20" rows="5" name="justificacion" [(ngModel)]="vigencia"
                        required></textarea>
                </mat-form-field>
                <mat-form-field style="width: 100%">
                    <mat-label>observaciones</mat-label>
                    <textarea matInput cols="20" rows="5" name="observaciones" [(ngModel)]="vigencia"
                        required></textarea>
                </mat-form-field>
            </div>
            <div class="section">
                <h2 class="section-title">Descripción</h2>
                <mat-form-field style="width: 100%">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput cols="20" rows="5" name="descripcion" [(ngModel)]="vigencia" required></textarea>
                </mat-form-field>
            </div>
            <div class="section">
                <h2 class="section-title">Datos de expedición</h2>
                <mat-form-field class="form-field-column">
                    <mat-label>Fecha de expedición válida</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="fechaExpedicion">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="form-field-column">
                    <mat-label>Número de resolución</mat-label>
                    <input matInput type="number" name="numRes" [(ngModel)]="vigencia" disabled>
                </mat-form-field>
                <mat-form-field class="form-field-column">
                    <mat-label>Tipo de resolución</mat-label>
                    <input matInput type="number" name="tipoRes" [(ngModel)]="vigencia" disabled>
                </mat-form-field>
                <mat-form-field class="form-field-column">
                    <mat-label>Resolución modificada</mat-label>
                    <input matInput type="number" name="numSem" [(ngModel)]="vigencia" disabled>
                </mat-form-field>
                <button mat-button class="button button-submit" type="button" (click)="cancelarExpedicion()">Realizar
                    expedición de la resolución</button>
                <button mat-button class="button button-remove" type="button" (click)="cancelarExpedicion()">Cancelar</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>