.section {
    width: 95%;
    text-align: center;
}

.button {
    margin-top: 5px;
    width: 50%;
    color: #fff;

    &.button-add {
        background-color: var(--others-main);
    }
    &.button-remove {
        background-color: var(--danger-main);
    }
    &.button-submit {
        background-color: var(--success-base);
    }

}
