<!-- Expedición de resoluciones -->
<em class="material-icons icon" title="Expedir" name="expedicion"
    *ngIf="this.modulo === 'admin' && rowData.Estado === 'Aprobada'" (click)="iconoSelect('expedicion')">note_add</em>

<em class="material-icons icon" title="Ver Documento" name="documento"
    (click)="iconoSelect('documento')">description</em>
<!-- Gestión de resoluciones -->
<em class="material-icons" title="Vincular" name="vincular"
    *ngIf="this.modulo === 'gestion' && rowData.TipoResolucion === 'Vinculación' && rowData.Estado === 'Solicitada'"
    (click)="iconoSelect('vincular')">person_add</em>
<em class="material-icons" title="Cancelar" name="cancelar"
    *ngIf="this.modulo === 'gestion' && rowData.TipoResolucion === 'Cancelación' && rowData.Estado === 'Solicitada'"
    (click)="iconoSelect('cancelar')">person_remove</em>
<em class="material-icons" title="Adicionar" name="adicionar"
    *ngIf="this.modulo === 'gestion' && rowData.TipoResolucion === 'Adición' && rowData.Estado === 'Solicitada'"
    (click)="iconoSelect('adicionar')">add_circle</em>
<em class="material-icons" title="Reducir" name="reducir"
    *ngIf="this.modulo === 'gestion' && rowData.TipoResolucion === 'Reducción' && rowData.Estado === 'Solicitada'"
    (click)="iconoSelect('reducir')">remove_circle</em>
<em class="material-icons" title="Consultar" name="consultar"
    *ngIf="this.modulo === 'gestion' && rowData.TipoResolucion !== 'Vincular' && rowData.Estado === 'Solicitada'"
    (click)="iconoSelect('consultar')">list</em>
<em class="material-icons" title="Enviar a revisión" name="enviar"
    *ngIf="this.modulo === 'gestion' && rowData.Estado === ''" (click)="iconoSelect('enviar')">send</em>
<em class="material-icons" title="Editar contenido" name="editar"
    *ngIf="this.modulo === 'gestion' && rowData.Estado === 'Solicitada'" (click)="iconoSelect('editar')">edit</em>
<em class="material-icons" title="Anular" name="anular"
    *ngIf="this.modulo === 'gestion' && rowData.estado === 'Solicitada'" (click))="iconoSelect('anular')">cancel</em>
<!-- Aprobación de resoluciones -->
<em class="material-icons" title="Aprobar" *ngIf="this.modulo === 'aprob' && rowData.Estado === 'Solicitada'"
    (click)="iconoSelect('aprobacion')">done_outline</em>
<em class="material-icons" title="Desaprobar" *ngIf="this.modulo === 'aprob' && rowData.Estado === 'Aprobada'"
    (click)="iconoSelect('desaprobacion')">block</em>
<!--  -->