<!-- Expedición de resoluciones -->
<em class="material-icons icon" title="Expedir" name="expedicion" *ngIf="rowData.Estado === 'Aprobada'"
    (click)="iconoSelect('expedicion')">note_add</em>

<em class="material-icons icon" title="Ver Documento" name="documento"
    (click)="iconoSelect('documento')">description</em>
<!-- Gestión de resoluciones -->
<em class="material-icons" title="Vincular" name="vincular"
    *ngIf="rowData.TipoResolucion === 'Vinculación' && rowData.Estado === 'Solicitada'"
    (click)="iconoSelect('vincular')">person_add</em>
<em class="material-icons" title="Cancelar" name="cancelar"
    *ngIf="rowData.TipoResolucion === 'Cancelación' && rowData.Estado === 'Solicitada'"
    (click)="iconoSelect('cancelar')">person_remove</em>
<em class="material-icons" title="Adicionar" name="adicionar"
    *ngIf="rowData.TipoResolucion === 'Adición' && rowData.Estado === 'Solicitada'"
    (click)="iconoSelect('adicionar')">add_circle</em>
<em class="material-icons" title="Reducir" name="reducir"
    *ngIf="rowData.TipoResolucion === 'Reducción' && rowData.Estado === 'Solicitada'"
    (click)="iconoSelect('reducir')">remove_circle</em>
<em class="material-icons" title="Consultar" name="consultar"
    *ngIf="rowData.TipoResolucion !== 'Vincular' && rowData.Estado === 'Solicitada'"
    (click)="iconoSelect('consultar')">list</em>
<em class="material-icons" title="Enviar a revisión" name="enviar" *ngIf="rowData.Estado === ''"
    (click)="iconoSelect('enviar')">send</em>
<em class="material-icons" title="Editar contenido" name="editar" *ngIf="rowData.Estado === 'Solicitada'"
    (click)="iconoSelect('editar')">edit</em>
<em class="material-icons" title="Anular" name="anular" *ngIf="rowData.estado === 'Solicitada'"
    (click))="iconoSelect('anular')">cancel</em>
<!-- Aprobación de resoluciones -->