<!-- Expedición de resoluciones -->
<em class="material-icons icon" title="Expedir" name="expedicion"
    *ngIf="this.modulo === 'admin' && rowData.Estado === 'Aprobada'" (click)="iconoSelect('expedicion', this.rowData)">note_add</em>

<em class="material-icons icon" title="Ver Documento" name="documento"
    (click)="iconoSelect('documento', this.rowData)">description</em>
<!-- Gestión de resoluciones -->
<em class="material-icons icon" title="Vincular" name="vincular"
    *ngIf="this.modulo === 'gestion' && rowData.TipoResolucion === 'Vinculación' && rowData.Estado === 'Solicitada'"
    (click)="iconoSelect('vincular', this.rowData)">person_add</em>
<em class="material-icons icon" title="Cancelar" name="cancelar"
    *ngIf="this.modulo === 'gestion' && rowData.TipoResolucion === 'Cancelación' && rowData.Estado === 'Solicitada'"
    (click)="iconoSelect('cancelar', this.rowData)">person_remove</em>
<em class="material-icons icon" title="Adicionar" name="adicionar"
    *ngIf="this.modulo === 'gestion' && rowData.TipoResolucion === 'Adición' && rowData.Estado === 'Solicitada'"
    (click)="iconoSelect('adicionar', this.rowData)">add_circle</em>
<em class="material-icons icon" title="Reducir" name="reducir"
    *ngIf="this.modulo === 'gestion' && rowData.TipoResolucion === 'Reducción' && rowData.Estado === 'Solicitada'"
    (click)="iconoSelect('reducir', this.rowData)">remove_circle</em>
<em class="material-icons icon" title="Consultar" name="consultar"
    *ngIf="this.modulo === 'gestion' && rowData.TipoResolucion !== 'Vincular' && rowData.Estado === 'Solicitada'"
    (click)="iconoSelect('consultar', this.rowData)">list</em>
<em class="material-icons icon" title="Enviar a revisión" name="enviar"
    *ngIf="this.modulo === 'gestion' && rowData.Estado === ''" (click)="iconoSelect('enviar', this.rowData)">send</em>
<em class="material-icons icon" title="Editar contenido" name="editar"
    *ngIf="this.modulo === 'gestion' && rowData.Estado === 'Solicitada'" (click)="iconoSelect('editar', this.rowData)">edit</em>
<em class="material-icons icon" title="Anular" name="anular"
    *ngIf="this.modulo === 'gestion' && rowData.estado === 'Solicitada'" (click))="iconoSelect('anular', this.rowData)">cancel</em>
<!-- Aprobación de resoluciones -->
<em class="material-icons icon" title="Aprobar" *ngIf="this.modulo === 'aprob' && rowData.Estado === 'Solicitada'"
    (click)="iconoSelect('aprobacion', this.rowData)">done_outline</em>
<em class="material-icons icon" title="Desaprobar" *ngIf="this.modulo === 'aprob' && rowData.Estado === 'Aprobada'"
    (click)="iconoSelect('desaprobacion', this.rowData)">block</em>
<!--  -->