<form #rform="ngForm" novalidate class="centrado">
    <h2 class="section-title">Reducción de horas</h2>
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <mat-form-field class="form-field-modal">
                <mat-label>Horas actuales</mat-label>
                <input matInput type="text" name="horasAct" #horasAct="ngModel" [(ngModel)]="cambioVinculacion.VinculacionOriginal.NumeroHorasSemanales" disabled>
            </mat-form-field>
            <mat-form-field class="form-field-modal">
                <mat-label>Horas a reducir</mat-label>
                <input matInput type="number" name="horasRed" #horasRed="ngModel" [(ngModel)]="cambioVinculacion.NumeroHorasSemanales" (change)="sumarHoras()" required>
            </mat-form-field>
            <mat-form-field class="form-field-modal">
                <mat-label>Horas totales</mat-label>
                <input matInput type="text" name="horasTot" #horasTot="ngModel" [(ngModel)]="horasTotales" disabled>
            </mat-form-field>
            <mat-form-field class="form-field-modal">
                <mat-label>Registro presupuestal</mat-label>
                <mat-select [(ngModel)]="cambioVinculacion.DocPresupuestal" name="rp" #rp="ngModel" required>
                    <mat-option>--Seleccionar--</mat-option>
                    <mat-option *ngFor="let rp of registrosPresupuestales" [value]="rp">
                        Registro presupuestal {{rp.Consecutivo}} - {{ rp.Vigencia }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="form-field-modal">
                <mat-label>Semanas actuales</mat-label>
                <input matInput type="text" name="semanas" #semanas="ngModel" [(ngModel)]="cambioVinculacion.VinculacionOriginal.NumeroSemanas" disabled>
            </mat-form-field>
            <mat-form-field class="form-field-modal">
                <mat-label>Semanas a reducir</mat-label>
                <input matInput type="text" name="semanasRed" #semanasRed="ngModel" [(ngModel)]="cambioVinculacion.NumeroSemanas" required >
            </mat-form-field>
            <mat-form-field class="form-field-modal">
                <mat-label>Fecha de inicio válida</mat-label>
                <input matInput type="date" name="fechaInit" #fechaInit="ngModel" [(ngModel)]="cambioVinculacion.FechaInicio" required >
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
    <button mat-button class="button button-submit" type="submit" (click)="guardarCambios()" [disabled]="!rform.valid" >Modificar</button>
</form>
