@import '../../form-detalle-resolucion/form-detalle-resolucion.component.scss';

.consulta-title {
    text-align: center;
}

.aux-button {
    color: #fff;
    background-color: var(--others-main);
    margin-left: 5%;
}

.documento-field {
    width: 30%;
}