:host ::ng-deep ng2-st-tbody-edit-delete {
    display: flex;
    justify-content: space-evenly;
}

:host ::ng-deep ng2-st-actions {
    display: flex;
    justify-content: space-evenly;
}

:host ::ng-deep ng2-st-tbody-create-cancel {
    display: flex;
    justify-content: space-evenly;
}

:host ::ng-deep ng2-st-tbody-custom {
    display: flex;
    justify-content: space-around;
}
