:host ::ng-deep {
    ng2-st-actions, ng2-st-tbody-edit-delete, ng2-st-tbody-create-cancel {
        display: flex;
        justify-content: space-evenly;
        a {
            color: var(--primary);
        }
    }

    ng2-st-tbody-custom {
        display: flex;
        justify-content: space-around;

        a {
            color: var(--primary);
        }
    }

    .page-item.disabled .page-link {
        color: darkgray !important;
    }

    .page-item.active .page-link {
        background: var(--primary) !important;
        color: white !important;
        border: 1px solid var(--primary) !important;
    }

    .page-item {
        margin: 3px;
    }

    .page-link {
        color: var(--primary) !important;
        padding: 8px;
        padding-left: 14px;
        padding-right: 14px;
        border-radius: 4px !important;
    }

    .page-link:hover {
        background-color: var(--color3) !important;
        color: white !important;
        border: 1px solid var(--color3);
    }

    .ng2-smart-pagination .page-link-next,
    .ng2-smart-pagination .page-link-prev {
        font-size: 14px !important;
    }
    
    .ng2-smart-page-item a:hover {
        text-decoration: none !important;
    }

    .ng2-smart-filters {
        input.form-control {
            text-align: center;
            color: black !important;
        }
    }
}
