.plantillas-title, td {
    text-align: center;
}

.inner-container {
    padding: 3% 10%;
}

.bigger-container {
    padding: 2%;
}

@media screen and (max-width: 1024px) {
    .inner-container {
        padding: 3% 3%;
    }
  }
