<mat-card class="card-oas">
    <mat-card-title class="vinculacion-title">
        <h1>Cancelación de vinculaciones</h1>
        <h2>{{ tipoResolucion.Nombre }} # {{ resolucion.NumeroResolucion }}</h2>
        <h2>{{ resolucionVinculacion.Dedicacion }} - {{ resolucionVinculacion.NivelAcademico }}</h2>
    </mat-card-title>
    <mat-card-content>
        <fieldset class="form-container">
            <legend>
                <h3>Docentes vinculados</h3>
            </legend>
            <ng2-smart-table
                [settings]="vinculacionesSettings"
                [source]="vinculacionesData"
                (userRowSelect)="seleccionarVinculaciones($event)"
                #table
            ></ng2-smart-table>
            <mat-error *ngIf="!habilitado">
                No es posible realizar la cancelación debido a que el docente aún no tiene RP
            </mat-error>
        </fieldset>
        <fieldset class="form-container" *ngIf="cambioVinculacion.length > 0">
            <legend>
                <h3>Docentes Seleccionados Para Reversar</h3>
            </legend>
            <form #cform="ngForm" novalidate>
                <mat-form-field class="form-field-column">
                    <mat-label>Numero de semanas a reversar:</mat-label>
                    <input matInput type="number" min="0" max="{{semanasMaximo}}" [(ngModel)]="numeroSemanas" name="semanas" #semanas="ngModel" required >
                </mat-form-field>
                <p style="color: red">Número máximo de semanas sugerido: {{semanasMaximo}}</p>
                <mat-expansion-panel *ngFor="let v of cambioVinculacion; let i=index" hideToggle disabled>
                    <mat-expansion-panel-header [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
                        <mat-panel-title class="cancelacion-panel">
                            <strong>{{i + 1}}. {{v.VinculacionOriginal.PersonaId}} - {{v.VinculacionOriginal.Nombre}} - {{v.VinculacionOriginal.NumeroHorasSemanales}} Horas {{ resolucionVinculacion.NivelAcademico === 'PREGRADO' ? 'semanales' : 'semestrales'}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Registro Presupuestal: {{v.VinculacionOriginal.RegistroPresupuestal}}</strong>
                            <mat-form-field [style.width.px]=200 class="form-field-column" *ngIf="resolucionVinculacion.NivelAcademico === 'POSGRADO'">
                                <mat-label>Numero de horas a reversar:</mat-label>
                                <input matInput type="number" [(ngModel)]="v.NumeroHorasSemanales" name="horasSem" #horasSem="ngModel" required >
                            </mat-form-field>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
                <button mat-button class="button button-submit" type="submit" (click)="cancelarVinculaciones()" [disabled]="!cform.valid">Cancelar vinculaciones</button>
            </form>
        </fieldset>
        <button mat-button class="button button-remove" type="button" (click)="salir()">Salir</button>
    </mat-card-content>
</mat-card>
