<mat-card class="card-oas">
    <mat-card-title class="vinculacion-title">
        <h1>Vinculacion de docentes</h1>
        <h2>Resolución # {{ resolucion.NumeroResolucion }}</h2>
        <h2>{{ resolucionVinculacion.Dedicacion }}</h2>
    </mat-card-title>
    <mat-card-content>
        <fieldset class="form-container">
            <legend>
                <h3>Docentes inscritos</h3>
            </legend>
            <ng2-smart-table
                [settings]="cargaAcademicaSettings"
                [source]="cargaAcademicaData"
                (userRowSelect)="seleccionarDocentes($event)"
            ></ng2-smart-table>
            <button mat-button class="button button-submit" type="button" (click)="abrirModalDisponibilidad()" [disabled]="docentesSeleccionados.length === 0">Seleccionar disponibilidad</button>
        </fieldset>
        <fieldset class="form-container">
            <legend>
                <h3>Docentes previnculados</h3>
            </legend>
            <ng2-smart-table
                [settings]="vinculacionesSettings"
                [source]="vinculacionesData"
                (userRowSelect)="seleccionarVinculaciones($event)"
            ></ng2-smart-table>
            <button mat-button class="button button-add" type="button" (click)="generarInformeCSV()" [disabled]="vinculacionesData.count() === 0">Generar informe Excel</button>
            <button mat-button class="button button-add" type="button" (click)="generarInformePDF()" [disabled]="vinculacionesData.count() === 0">Generar informe PDF</button>
            <button mat-button class="button button-remove" type="button" (click)="desvincular()" [disabled]="vinculacionesSeleccionadas.length === 0">Desvincular docentes</button>
        </fieldset>
    </mat-card-content>
</mat-card>
