@import "../../gestion-resoluciones/generacion-resolucion/generacion-resolucion.component.scss";

.vinculacion-title {
    text-align: center;

    h2 {
        margin: 0;
    }
}

.form-container {
    legend {
        text-align: left;
    }
}
